

<form class="w-50 m-auto shadow rounded mt-4 p-3" method="POST" action="/course/{{course._id}}?_method=PUT">
    <h3 class="text-center">Sửa khóa học</h3>
  <div class="mb-3">
    <label for="name" class="form-label">Tên khóa học</label>
    <input type="text" class="form-control" value="{{course.name}}" name="name" id="name" >
    
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Mô tả</label>
    <input type="text" class="form-control" id="description" value="{{course.description}}" name="description">
  </div>
  <div class="mb-3">
    <label for="image" class="form-label">Ảnh</label>
    <input type="text" class="form-control" id="image" value="{{course.image}}" name="image">
  </div>

  <button type="submit" class="btn btn-primary">Save</button>
</form>