<div class="">
    <form method="POST">
      <div class="mb-3">
        <label for="search-input" class="form-label">Search</label>
        <input type="text" name="q" class="form-control" id="search-input" placeholder="Search...">
      </div>
      <select name="gender" >
        <option value="">Chọn giới tính</option>
        <option value="male">Nam</option>
        <option value="female">Nữ</option>
      </select>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>